.section {
  padding: 120px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  outline: 2px solid purple;
}
.list {
  list-style-type: none;
  padding: 0;
}
.link {
  text-decoration: none;
  color: $primary-text-color;
}