  $primary-text-color: #141414;
  $secondary-text-color: #555555;
  $accent-color: #5C8692;
  $white-text-color: #FFFFFF;

  $primary-bg-color: #EBF3F5;
  $secondary-bg-color: #FFFFFF;
  $footer-bg-color: #1E2C30;
  $accent-bg-color: #111E22;

  $primary-font: 'Manrope',
  sans-serif;
  $secondary-font: 'Playfair Display',
  serif;